/* Hide scrollbar for Chrome, Safari and Opera */

.Main::-webkit-scrollbar {
    display: none;
}

.Main {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-X: scroll;
    overflow: auto;
    height: 240px;
    display: flex;
    flex-direction: row;
}

.NavLink {
    color: black;
}

.NavLink:hover {
    text-decoration: none;
    color: black;
}